In [1]:
import pandas as pd

In [2]:
file_to_convert = "city_data.csv"

In [3]:
city_data = pd.read_csv(file_to_convert)

In [4]:
city_data.head()

,City,Country,City ID,Latitude,Longitude,temperature,humidity,cloudiness,wind speed
0,Te Anau,NZ,2181625,-45.4167,167.7167,75.51,39,0,5.66
1,Mataura,NZ,6201424,-46.1927,168.8643,73.87,53,16,7.65
2,Nanortalik,GL,3421765,60.1432,-45.2371,28.99,94,100,11.14
3,Kapaa,US,5848280,22.0752,-159.3190,72.82,78,20,18.41
4,Hearst,CA,5973108,49.6835,-83.6665,26.60,93,89,2.30

In [6]:
city_data.to_html("city_data.html", encoding="utf-8", index=False)